.section_3 {
    background-image: url(../assets/IMG_1334_72dpi_RGB_\ 1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

     .video_page {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 100px 0px;

          .h1 {
               @include h1($white_color);
               padding: 30px 0px 20px 0px;
          }

          .play {
               width: calc(6.9vw + 73.6px);
               height: calc(6.9vw + 73.6px);
               border-radius: 50%;
               background-color: $white_color;
               display: flex;
               align-items: center;
               justify-content: center;
               margin: 60px 0px;
               transition: .5s;
               cursor: pointer;
               overflow: hidden;

               .triangle {
                    width: 0;
                    height: 0;
                    border-top: calc(1.2vw + 11.2px) solid transparent;
                    border-left: calc(2.3vw + 24px) solid $blue_color;
                    border-bottom: calc(1.2vw + 11.2px) solid transparent;
                    transform: translateX(5px);
               }

               &:hover {
                    transform: scale(1.1);
                    background-color: $blue_color;
               }
               
               &:hover .triangle {
                    border-left-color: $white_color;
               }
          }

          .h3 {
               @include h3($white_color);
               padding: 20px 0px 30px 0px;
          }
     }
}