* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}
.nav input[type=checkbox] {
  display: none;
}
.nav__heading {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.nav .toggle {
  order: 3;
}

.nav_bar {
  display: flex;
  align-items: center;
  order: 2;
}
.nav_bar .nav__menu {
  display: flex;
  align-items: center;
}
.nav_bar .nav__menu #current {
  color: #fff;
}
.nav_bar .nav__menu #current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transition: 0.3s;
}
.nav_bar .nav__menu a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.2em;
  padding: 6px 0px;
  margin: 0px 32px;
  cursor: pointer;
  position: relative;
}
.nav_bar .nav__menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background-color: #fff;
  transition: 0.3s;
}
.nav_bar .nav__menu a:hover::after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .toggle {
    z-index: 2;
    width: calc(0.7vw + 22.3px);
    height: calc(0.7vw + 13.3px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
  }
  .toggle .line {
    background-color: #fff;
    width: 100%;
    height: 3px;
    border-radius: 5px;
  }
  .nav input[type=checkbox]:checked ~ .nav_bar .nav__menu {
    display: block;
  }
  .nav_bar .nav__menu {
    display: none;
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    height: 100vh;
    padding: 12vh 0;
    transition: 0.3s ease-out;
    z-index: 1;
  }
  .nav_bar .nav__menu li {
    text-align: left;
    display: flex;
    justify-content: stretch;
  }
  .nav_bar .nav__menu li a {
    line-height: 40px;
    text-align: left;
    margin: 0;
    width: 100%;
    padding: 10px 100px 10px 20px;
  }
}
.section_1 {
  background-image: url(../assets/Desktop_Backgrounds_1920x1200_6\ 3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section_1 .menu_page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.section_1 .menu_page_logo img {
  width: calc(1.1vw + 50.7px);
  -webkit-animation-name: logo;
          animation-name: logo;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@-webkit-keyframes logo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes logo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.section_1 .menu_page .h1 {
  font-family: "Oswald", sans-serif;
  font-size: calc(1.1vw + 35.7px);
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  color: #fff;
  padding-top: 13px;
}
.section_1 .menu_page .h3 {
  font-size: calc(0.5vw + 17.8px);
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  line-height: 32px;
  padding-top: 32px;
  color: rgba(255, 255, 255, 0.7);
}

.mainpage_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px 0px;
}
.mainpage_2 .h1 {
  font-family: "Oswald", sans-serif;
  font-size: calc(1.1vw + 35.7px);
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  color: #464547;
  padding-top: 13px;
}
.mainpage_2 .h3 {
  font-size: calc(0.5vw + 17.8px);
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  line-height: 32px;
  padding-top: 32px;
  color: #666666;
}
.mainpage_2_texts {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 45px 0px;
}
.mainpage_2_texts .p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: calc(0.2vw + 13px);
  line-height: 22px;
  font-weight: 400;
  color: #666666;
  width: 35%;
}
.mainpage_2 .btn {
  border: none;
  border-radius: 18px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #fff;
  padding: 5px 18px;
  background-color: #55C2D8;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.mainpage_2 .btn:hover {
  transform: rotateZ(10deg) translateY(0);
  transform-origin: 10% 20%;
}
.mainpage_2 .btn:active {
  transform: scale(0.9);
}

@media screen and (max-width: 768px) {
  .mainpage_2_texts {
    flex-direction: column;
    padding: 25px 0px;
  }
  .mainpage_2_texts .p {
    width: 100%;
    padding: 20px 0px;
  }
  .mainpage_2 .h1 {
    line-height: 50px;
  }
  .mainpage_2 .h3 {
    padding-top: 25px;
  }
}
.section_3 {
  background-image: url(../assets/IMG_1334_72dpi_RGB_\ 1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section_3 .video_page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 0px;
}
.section_3 .video_page .h1 {
  font-family: "Oswald", sans-serif;
  font-size: calc(1.1vw + 35.7px);
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  color: #fff;
  padding-top: 13px;
  padding: 30px 0px 20px 0px;
}
.section_3 .video_page .play {
  width: calc(6.9vw + 73.6px);
  height: calc(6.9vw + 73.6px);
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0px;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
}
.section_3 .video_page .play .triangle {
  width: 0;
  height: 0;
  border-top: calc(1.2vw + 11.2px) solid transparent;
  border-left: calc(2.3vw + 24px) solid #55C2D8;
  border-bottom: calc(1.2vw + 11.2px) solid transparent;
  transform: translateX(5px);
}
.section_3 .video_page .play:hover {
  transform: scale(1.1);
  background-color: #55C2D8;
}
.section_3 .video_page .play:hover .triangle {
  border-left-color: #fff;
}
.section_3 .video_page .h3 {
  font-size: calc(0.5vw + 17.8px);
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  line-height: 32px;
  padding-top: 32px;
  color: #fff;
  padding: 20px 0px 30px 0px;
}

@media screen and (max-width: 768px) {
  .section_video_3 .mainpage_3 {
    padding: 60px 0px;
  }
  .section_video_3 .mainpage_3 .play {
    margin: 20px 0px;
  }
  .section_video_3 .mainpage_3 .h1 {
    padding: 20px;
  }
  .section_video_3 .mainpage_3 .h3 {
    padding: 20px;
  }
}
footer {
  background-color: #464547;
}
footer .nav_footer {
  display: flex;
  align-items: flex-end;
  padding: 40px 0px;
}
footer .nav_footer_left {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 50%;
}
footer .nav_footer_left_logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
footer .nav_footer_left_logo .image img {
  width: 20px;
}
footer .nav_footer_left_logo__heading {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 10px;
}
footer .nav_footer_left_address a {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(255, 255, 255, 0.4);
  transition: 0.3s;
}
footer .nav_footer_left_address a:hover {
  color: #fff;
}
footer .nav_footer_right {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 50%;
}
footer .nav_footer_right .copy {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 768px) {
  footer .nav_footer {
    flex-direction: column;
    align-items: center;
  }
  footer .nav_footer_left {
    flex-direction: column;
    align-items: center;
  }
  footer .nav_footer_left_logo {
    margin-bottom: 20px;
  }
  footer .nav_footer_left_address li {
    text-align: center;
  }
  footer .nav_footer_right {
    margin-top: 20px;
    text-align: center;
  }
}/*# sourceMappingURL=styles.css.map */